#header {
    position: absolute;
    height: 208px;
    width: 998px;
    border-bottom: 2px solid darkgray;
}

#postsBar {
    position: absolute;
    width: 500px;
    left: 0px;
    height: 206px;
}
#postsBarCarousel {
    background-color: #0070a3;
}

.carousel-image-placeholder {
    height:206px;
}

#openingTimes {
    position: absolute;
    width: 300px;
    box-sizing: border-box;
    left: 500px;
    height: 206px;
    border-right: 2px solid darkgray;
    border-left: 2px solid darkgray;
/*padding-top: 20px;
padding-bottom: 30px;*/
}

#authentification{
    position: absolute;
    width: 180px;
    box-sizing: border-box;
    left: 810px;
    height: 200px;
}

#container {
    width: 1000px;
}

#sidebar{
    width:200px;
    height: 100%;
    top: 206px;
    position: absolute;
    padding: 5px;
}

#content {
    position: absolute;
    left: 200px;
    top: 206px;
    width: 788px;
    min-height: 400px;
    padding: 8px;
    border-left: 2px solid darkgray;
}

.tab-content {
    padding: 8px;
}

div.postEntry {
    width:100%;
    margin-top: 10px;
    padding: 2px;
    border: 2px solid darkgray;
}

#user-group {
    margin-top: 10px;
    padding: 5px;
}

.form-control.panel-body {
    padding: 1px 1px 1px 5px;
}
.btn.btn-default {
    margin-bottom: 10px;
}

#footer {
    position: absolute;
    visibility: hidden;

}

.jumbotron {
    margin-bottom: 100px;
    background-position: 0% 25%;
    background-image: url(http://82.165.45.70/dev/swe-project/app/webroot/img/bigpicture/jumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: black 0.3em 0.3em 0.3em;
}
