.tabviews {
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px;
  background-color: rgb(0, 188, 212);
}

.sidebar{
  width:200px;
  height:240px;
}
.login{
  left: 400px;
}

#footer {
    clear:left;
    margin-top:1em;
    background:#efefef;
    text-align:center;
    padding:10px;
}
