#sidebar{
    width:200px;
    height:600px;
    top: 160px;
    position: absolute;
    padding: 5px;
    border-top: 2px double darkgray;
}

#authentification{
    position: absolute;
    width: 120px;
    box-sizing: border-box;
    left: 880px;
    height: 160px;
}

#container {
    width: 1000px;
}

#content {
    position: absolute;
    left: 200px;
    top: 160px;
    width: 788px;
    height: 600px;
    padding: 8px;
    border-top: 2px double darkgray;
    border-left: 2px double darkgray;
   <!-- background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(app/webroot/img/background.jpg);-->
}

#postsBar {
    position: absolute;
    width: 660px;
    box-sizing: border-box;
    left: 0px;
    height: 158px;
}
#postsBarCarousel {
    background-color: #0070a3;
}

.carousel-image-placeholder {
    height:158px;
}


div.postEntry {
    width:100%;
    margin-top: 10px;
    padding: 2px;
    border: 2px solid darkgray;
}
div.postEntry core-item.heading {
    color:red;
}
div.postEntry core-item.body {
    color:green;
}
div.postEntry core-item.user {
    color:blue;
}
div.postEntry core-item.created {
    color:yellow;
}

<!--div.postEntry div.buttons core-icon-button.delete{

}
div.postEntry div.buttons core-icon-button.edit{

}-->

#header {
    height: 160px;
    width: 1000px;
    padding-bottom: 2px;
}


#footer {
    position: absolute;
    visibility: hidden;
    
}